<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='logo.png') }}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body
    class="has-background-white-ter has-navbar-fixed-top"
    style="min-height: 100vh"
  >
    {% include "/components/navbar.html" %} {% include
    "/components/notification.html" %}
    <section class="section">
      <div class="container is-max-desktop">
        <h1 class="title">{% block heading %}{% endblock %}</h1>

        {% block content %} {% endblock %}
      </div>
    </section>
  </body>
</html>

<script src="{{ url_for('static', filename='script.js') }}"></script>
